.error {
    color:#0a0a0a;
    background-color:#ff5151;
    margin-top: 0.5rem;
    position: fixed;
    width:50%;
    text-align:center;
    bottom:5%;
    left:25%;
    padding:1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.success {
    color:#0a0a0a;
    background-color:#42ff42;
    margin-top: 0.5rem;
    position: fixed;
    width:50%;
    text-align:center;
    bottom:5%;
    left:25%;
    padding:1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.hide {
    display: none;
}